.page-header {
	font-size: 44px;
}

.table-bordered{
	margin-right: 5em;
}

thead{
	background-color: #1FCECB;
}

.btn {
	margin-bottom: 2em;
}

#remindMe, #signUp {
	background-color: #EC6873;
	border-color: #AD3549;
}

#save {
	background-color: #EFD069;
	border-color: #CFAE42;
}