.page-header {
	font-size: 44px;
}

.table-bordered{
	margin-left: 3em;
	font-size: 125%;
	width: 90%;
}

thead{
	background-color: #1FCECB;
}

.btn {
	margin-bottom: 2em;
}

#remindMe {
	background-color: #EC6873;
	border-color: #AD3549;
}

#save {
	background-color: #EFD069;
	border-color: #CFAE42;
	margin-left: -8px;
}

#signUp {
	background-color: #EFD069;
	border-color: #CFAE42;
}

.modal-content{
	font-size: 120%;
	
}

#noSelection {
	display: none;
	color: red;
}

td {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 50px !important;
	padding-right: 50px !important;
}